@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Frank+Ruhl+Libre:wght@300..900&display=swap');


header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(141, 141, 141); 
    background-image: url("../Prada/assets/images/image\ 1.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}



h1 {
    font-family: 'Cinzel';
    font-weight: 800;
    font-size: 72px;
    color: #20201f;
}

h2 {
    font-family: 'Frank Ruhl Libre';
    color: #292828;
    font-size: 29px;
    font-weight: 750;
}

p {
    font-family: 'Frank Ruhl Libre';
    color:#292828;
    font-size: 15px;
    font-weight: 300;
    
}

ol {
    font-family: 'Frank Ruhl Libre';
    color:#000000;
    font-size: 18px;
    font-weight: 400;
}

ul {
    font-family: 'Frank Ruhl Libre';
    color:#000000;
    font-size: 18px;
    font-weight: 400;
}

#secao-apresentacao img{
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 5rem;
    height: 50vh;
}

#secao-apresentacao img{
    border-radius: 25%;
}

#texto-apresentacao {
    color: #000000;
}

#texto-apresentacao {
    font-size: 1.25rem;
}

